/* global styles */

.logo {
  width: 261px;
  height: 61px;
  object-fit: contain;
  padding-top: 39px;
}

.container {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}





/* First Page */

.welcome {
  font-family: Muli;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #3e3e3c;
  padding-top: 50px;
}

.This-is-a-sample-sur {
  font-family: Muli;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 10px;
  color: #4a4a4a;
  margin: auto;
  width: 560px;
  height: 155px;
  align-content: center;
  margin: auto;
}

.Primary {
  font-family: Muli;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #ffffff;
  padding-right: 22.5px;
  padding-left: 22.5px;
  padding-top: 6px;
}

.brand-blue-0-16 {
  width: 115px;
  height: 32px;
  border-radius: 4px;
  background-color: #4a4a4a;
  margin: auto
}


/* Second Page */

.How-likely-is-it-tha {
  width: 560px;
  height: 55px;
  font-family: Muli;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #3e3e3c;
  margin: auto;
  padding-top: 95px;
}

.Highly-unlikely {
  width: 42px;
  height: 24px;
  font-family: Muli;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #706e6b;
}

.Rectangle-Copy-11 {
  width: 40px;
  height: 40px;
  border-radius: 4.6px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

.Rectangle-Copy {
  width: 40px;
  height: 40px;
  border-radius: 4.6px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

.number {
  width: 15px;
  height: 29px;
  font-family: Muli;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #3e3e3c;
  margin: 5px;
  ;
  padding-top: 5.7px;
  padding-left: 12.6px;
  padding-bottom: 5.3px;
  padding-right: 12.6px;
}

.Highly-likely {
  width: 36px;
  height: 24px;
  font-family: Muli;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  color: #706e6b;
  margin: auto
}

.number-container {
  display: inline-flex;
}

/* Media Queries */

/* On screens that are 480px or less  */

@media screen and (max-width: 480px) {


  .logo {
    width: 261px;
    height: 61px;
    object-fit: contain;
    padding-top: 39px;
  }
  
  .container {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .welcome {
    font-family: Muli;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #3e3e3c;
    padding-top: 50px;
  }
  .brand-blue-0-16 {
    width: 115px;
    height: 32px;
    border-radius: 4px;
    background-color: #4a4a4a;
    margin: auto
  }
  .This-is-a-sample-sur {
    font-family: Muli;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-top: 10px;
    color: #4a4a4a;
    margin: auto;
    width: 560px;
    height: 155px;
    align-content: center;
    margin: auto;
  }
  
  
  /* Second Page */
  
  .How-likely-is-it-tha {
    width: 560px;
    height: 55px;
    font-family: Muli;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #3e3e3c;
    margin: auto;
    padding-top: 95px;
  }
  
  .Highly-unlikely {
    width: 42px;
    height: 24px;
    font-family: Muli;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #706e6b;
  }
  
  .Rectangle-Copy-11 {
    width: 40px;
    height: 40px;
    border-radius: 4.6px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
  }
  
  .Rectangle-Copy {
    width: 40px;
    height: 40px;
    border-radius: 4.6px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
  }
  
  .number {
    width: 15px;
    height: 29px;
    font-family: Muli;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #3e3e3c;
    margin: 5px;
    ;
    padding-top: 5.7px;
    padding-left: 12.6px;
    padding-bottom: 5.3px;
    padding-right: 12.6px;
  }
  
  .Highly-likely {
    width: 36px;
    height: 24px;
    font-family: Muli;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    color: #706e6b;
    margin: auto
  }
  
  .number-container {
    display: inline-flex;
  }
}